.git
.gitignore
.idea
.vscode

__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/

.venv/
venv/
env/
ENV/

.env
.env.dev
.env.prod

bot/src/tests/
tests/

common/database/database files/sqlite/

assets/fonts/JetBrainsMono Nerd Fonts/
