# ? .env.dev

# PROJECT
PROJECT_STATUS=development

# MAIN ADMIN ID
MAIN_ADMIN_ID=123456789

# TELEGRAM
TELEGRAM_BOT_TOKEN=your_token
# TG WEBHOOK
TELEGRAM_WEBHOOK_SECRET=your-secret

# RUNTIME
WEB_SERVER_HOST=0.0.0.0
WEB_SERVER_PORT=8080
BASE_WEBHOOK_URL=

# TUNA TUNNELS
TUNA_TOKEN=your_token
TUNA_API_TOKEN=your_token

# SQLITE
SQLITE_DB_URL=sqlite+aiosqlite:///common/database/database files/sqlite/dev.db

# PGSQL
POSTGRES_HOST=localhost # posgresql(prod) or localhost(dev)
POSTGRES_ASYNCPG=asyncpg
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=6432 # 5432(prod) or 6432(dev) (on docker and pc 6432)

# REDIS
REDIS_HOST=localhost # redis(prod) or localhost(dev)
REDIS_PORT=6379

# SERVICES
# VisualCrossing
VISUAL_CROSSING_KEY=your_key
# WeatherAPI
WEATHER_API_KEY=your_key
# OpenWeatherMap
OPEN_WEATHER_MAP_API_KEY=your_key

# ? .env.prod

# PROJECT
PROJECT_STATUS=product

# TELEGRAM
TELEGRAM_BOT_TOKEN=your_token
# TG WEBHOOK
TELEGRAM_WEBHOOK_SECRET=your-secret

# RUNTIME
WEB_SERVER_HOST=0.0.0.0
WEB_SERVER_PORT=8080
BASE_WEBHOOK_URL=https://skynode.prod.birdegop.ru

# TUNA TUNNELS
TUNA_TOKEN=your_token
TUNA_API_TOKEN=your_token

# SQLITE
SQLITE_DB_URL=sqlite+aiosqlite:///common/database/database files/sqlite/dev.db

# PGSQL
POSTGRES_HOST=posgresql # posgresql(prod) or localhost(dev)
POSTGRES_ASYNCPG=asyncpg
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=6432 # 5432(prod) or 6432(dev) (on my docker con and my pc 6432)

# REDIS
REDIS_HOST=redis # redis(prod) or localhost(dev)
REDIS_PORT=6379

# SERVICES
# VisualCrossing
VISUAL_CROSSING_KEY=your_key
# WeatherAPI
WEATHER_API_KEY=your_key
# OpenWeatherMap
OPEN_WEATHER_MAP_API_KEY=your_key
# Google Weather
GOOGLE_KEY=your_key
